name: horizontal_picker
version: 1.0.0
description: You can select your value on Horizontal Picker while scrolling on items.
author: Levent KANTAROGLU <lekadesignandapps@mail.com>
homepage: https://github.com/kaiserleka/
repository: https://github.com/kaiserleka/horizontal_picker
documentation: https://github.com/kaiserleka/horizontal_picker/blob/master/README.md

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
 
dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
